<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>
</head>
<body>
    {{> header}}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti magni non voluptatem sunt recusandae repellendus nostrum inventore, mollitia error odit iure a et quibusdam eius. Explicabo numquam recusandae delectus cumque?</p>
{{> footer}}

</body>
</html>